*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    background-color: #b8bac0;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    float: left;
    
}

nav ul{
    /* remove a bolinha do li */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    /* modifica a exibição da lista para bloco em linha( um li na frente do outro)*/
    /* float: left; */
    display: inline-block;
}

nav ul li a{
    /* remove o sublinhado do link */
    text-decoration: none;
    color: #000000;
    /* texto em negrito */
    font-weight: bold;
    display: block;
    padding: 15px;
}

nav ul li a:hover{
    background-color: #ffffff;
    color:#2e2d40;
}

#icones{
    background-color: #fff;
    width: 100%;
    height: 600px;
    float: left;
}

#imagens{
    background-color: #41d8d8;
    float: left;
    width: 100%;
    height: 600px;
}

#videos{
    background-color: #38a6a6;
    float: left;
    width: 100%;
    height: 600px;
}

#mapas{
    background-color: #328585;
    float: left;
    width: 100%;
    height: 600px;
}